<app-home>
</app-home>

<h2 class="mb-3 mt-5">Reservations list</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Guest</th>
            <th>Email</th>
            <th>Check-in date</th>
            <th>Check-out date</th>
            <th>Room number </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reservation of reservations">
            <td>{{reservation.guestName}}            </td>
            <td>{{reservation.guestEmail}}</td>
            <td>{{reservation.checkInDate}}</td>
            <td>{{reservation.checkOutDate}}</td>
            <td>{{reservation.roomNumber}}</td>
            <td>
                <button class="btn btn-small btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
                <button class="btn btn-small btn-secondary mx-1"  [routerLink] = "['/edit', reservation.id]">Edit</button></td>
        </tr>
    </tbody>
</table>

<ul *ngIf="reservations.length; else noReservation">
    
</ul>
<ng-template #noReservation>
    <p>No reservation available</p>
</ng-template>